linea/__pycache__/funciones.cpython-39.pyc
linea/__pycache__/funciones.cpython-312.pyc
linea/__pycache__/funciones.cpython-312.pyc
ahorcado/__pycache__/funciones.cpython-312.pyc
ahorcado/__pycache__/funciones.cpython-312.pyc
games/__pycache__/Team.cpython-312.pyc
linea/__pycache__/funciones.cpython-312.pyc
games/__pycache__/Sport.cpython-312.pyc
games/__pycache__/Athlete.cpython-312.pyc
linea/__pycache__/funciones.cpython-312.pyc
games/__pycache__/Game.cpython-312.pyc
linea/__pycache__/funciones.cpython-312.pyc
ahorcado/datos/la_odisea.txt
ahorcado/__pycache__/funciones.cpython-312.pyc
linea/__pycache__/funciones.cpython-312.pyc
.DS_Store
games/__pycache__/game_logic.cpython-312.pyc
libros_web/template.html
libros_web/__pycache__/funciones.cpython-312.pyc
